* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1100px;
    padding: 0 2rem;
    margin: auto;
    overflow: hidden;
}

.category {
    display: inline-block;
    color: #fff;
    font-size: 0.55rem;
    text-transform: uppercase;
    padding: 0.4rem 0.6rem;
    border-radius: 50%;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

/* .category-guitar, .category-rock {background: #a2a79e;}
.category-violin, .category-metal {background: #a27e8e;}
.category-drum, .category-classic {background: #a77464;}
.category-vocal, .category-pop {background: #88292f;}
.category-bass {background: #2e1e0f;} */

.category-guitar, .category-rock {background: rgb(189, 45, 45);}
.category-violin, .category-metal {background: rgb(189, 45, 45);}
.category-drum, .category-classic {background: rgb(189, 45, 45);}
.category-vocal, .category-pop {background: rgb(189, 45, 45);}
.category-bass {background: rgb(189, 45, 45);}

.musician-container, .band-container {
    display: flex;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    height: 100%;
    /* background: #d3b9b1; */
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    background: #fff;
    padding: 5px;
    margin: 5px;
    border-radius: 5%;
}

img {
    width: 100%;
    height: 200px;
    padding-bottom: 5px;
    border-radius: 50%;
}

.card .text {
    /* border-top: 1px #333 dotted; */
    color: #fff;
}

.card .text p {
    margin: 5px;
}

.guitar-card {
    background: #a2a79e
}
.drum-card {
    background: #a27e8e;
}
.vocal-card {
    background: #a77464;
}
.bass-card {
    background: #88292f;
}
.violin-card {
    background: #2e1e0f;
}


.rock-card {
    background: #a27e8e;
}
.metal-card {
    background: #a77464;
}
.classic-card {
    background: #88292f;
}
.pop-card {
    background: #2e1e0f;
}
